/* 按钮菜单 */
.fui-button-menu-button{
    padding: 0 2px!important;
}
.fui-button-menu-down{
    padding: 0 2px!important;
}

/* 圆角 */
.fui-button-menu{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin-right: 4px!important;
}
.fui-button-menu-button{
    border-radius: 4px 0 0 4px;
}
.fui-button-menu-down{
    border-left: 1px solid #d3d3d3;
    border-radius: 0 4px 4px 0;
}
.fui-orderedlist{
    margin-right: 10px!important;
}

/* 下拉图标 */
.fui-button-menu-down .fui-icon{
    width: 8px;
    height: 20px;
    background: url( "../../images/icons/small-down.png" ) no-repeat 1px 6px;
}

/* 按钮图标 */
.fui-button-menu-button .fui-icon{
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.wo-btnmenu-unorderedlist .fui-button-menu-button .fui-icon{
    background: url( "../../images/icons/unorderlist.png" ) no-repeat 0 0;
}
.wo-btnmenu-orderedlist .fui-button-menu-button .fui-icon{
    background: url( "../../images/icons/orderlist.png" ) no-repeat 0 0;
}
.wo-btnmenu-rowspacingbottom .fui-button-menu-button .fui-icon{
    background: url( "../../images/icons/rowspacing-bottom.png" ) no-repeat 0 0;
}
.wo-btnmenu-rowspacingtop .fui-button-menu-button .fui-icon{
    background: url( "../../images/icons/rowspacing-top.png" ) no-repeat 0 0;
}
.wo-btnmenu-lineheight .fui-button-menu-button .fui-icon{
    background: url( "../../images/icons/line-height.png" ) no-repeat 0 0;
}