/* common */
body{
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

.left{
    float: left;
}

.right{
    float: right;
}

/* header */
.header{
    height: 60px;
    overflow: hidden;
    background-color: #6dc3ea;
}
.guide{
    float:left;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.guide.logo{
    font-size: 0;
    margin: 10px 20px;
    padding: 0;
    width: 120px;
    height: 40px;
    background-image: url("../images/logo.png");
    background-image: url("../images/logo.gif") \9;
    background-size: contain;
    background-repeat: no-repeat;
}
.guide.logo:hover{
    background-color: transparent;
}
.guide.active,
.guide:hover{
    background-color: #4ba7d1;
}
.header .right a {
    float:left;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.header .right a:hover {
    color: #acdbff;
}
.header .right a.upload{
    padding: 0;
    height: 20px;
    line-height: 20px;
}
.header .avatar {
    display: block;
    float: left;
    background-size: contain;
    background-image: url("http://himg.bdimg.com/sys/portrait/item/10064a696e716ed508.jpg");
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 6px;
}

/* footer */
.footer{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-bottom: 20px;
}

/* main */
.main{
    text-align: center;
    position: relative;
    padding: 15px 20px;
    margin: 0;
}
.main .container {
    margin: 0 auto;
    width:900px;
    text-align: left;
    background: #fefefe;
    padding: 0;
    box-shadow: -7px 0 7px -7px rgba(51,51,51,.07),
    7px 0 7px -7px rgba(51,51,51,.07),
    0 8px 8px -8px rgba(51,51,51,.07);
}
.main .container.editor {
    box-shadow: none;
    border-radius: 3px;
    clear: both;
}
.main .edui-editor-toolbarbox {
    position: absolute;
}